.counter-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.counter {
    font-size: 15rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-counter {
    border: 1px solid gray;
    border-radius: 100%;
    width: 4rem;
    aspect-ratio: 1;
    font-size: 3rem;
    background: none;
    margin: 3rem;
}

@media (max-width: 500px) {
    p {
        order: -1;
        width: 100%;
        text-align: center;
    }
}