.container {
    text-align: center;
}

.title {
    margin: 3rem 0;
}

.container ul{
    margin-top: 2rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 0;
}

.container ul li {
    background-color: white;
    padding: 1rem;
    max-width: min(400px, 90%);
    border-radius: 1rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
}